/**Ebene Header Start
*/

@import url('https://fonts.googleapis.com/css?family=Quicksand');

html {
    font-family: 'Quicksand', sans-serif;
    font-size: 12pt;
}

* {
  margin: 0;
  padding: 0;
}

body
  {
    font-family: monospace;
  }

  .start
  {
    width: auto;
  }

.up {
  width: 100% !important;
}

.uprow {
  width: 100% !important;
}


.main-nav
{
  float: right;
  list-style: none;
  margin-top: 1.875em;
}

.main-nav li
{
  display: inline-block;
}

.main-nav li.active a {
  border: 0.063em solid white;
}

.main-nav li a {
 color:white;
 text-decoration: none;
 padding: 0.313em 1.250em;
 font-family: "Roboto", sans-serif;
 font-size: 16px;

}

.row
 {
   max-width: 75em;
   margin: auto;
   margin-bottom: 1.875em !important;
 }

 h1 {
   color: white;
   font-size: 4.375em;
   text-align: center;
   margin-top: 10%;
 }

 h2 {
   color: white;
   font-size: 2.5em;
   text-align: center;
   margin-top: 1%;
 }


 header {
     background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/starthouse2.jpg);
     height: 100vh;
     background-size: cover;
     background-position: center center;
 }

 .button
 {
   margin-top: 1.875em;
   text-align: center;
   height: 3em;
 }


 .bbn
 { border: 1px solid white;
   padding: 10px 30px;
   color: white;
   text-decoration: none;
   margin-right: 5px;
   text-transform: uppercase;
 }

 button {
     font-family : inherit;
     font-family: "Roboto" sans-serif !important;
 }

 .bbn-one {
   background-color: #FF8B00;
   font-size: 16px;
   width: 250px;
   padding-left: 5px;
   padding-right: 5px;
   height: 100%;
 }

 .bbn-one > a, .bbn-two > a {
   text-decoration: none;
   color: white;
 }

 .bbn-one:hover {
   background-color: transparent;
   background-image: radial-gradient(circle farthest-side, #FF8B00, transparent);
   transition: all 0.5s ease-in;
 }

 .bbn-two {
   font-size: 16px;
   background-color: transparent;
   width: 250px;
   padding-left: 5px;
   padding-right: 5px;
   height: 100%;

 }

 .bbn-two:hover {
   background-color: #FF8B00;
   transition: all 0.5s ease-in;
 }

 .logo img {
   width: 120px;
   height: auto;
 }

 .logo {
   background-image: radial-gradient(circle farthest-side, white,transparent);
   display: inline-block;
   padding: 6px;
 }

 .logo p {
   text-align: center;
   font-size: 20px;
 }

/*Kleine Ger채te und Smartphones*/
 @media (max-width: 768px) {


   html, body {
  overflow-x: hidden;
}
body {
  position: relative;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 15px;
}
.bbn-one {
  margin-bottom: 8px;
}

.bbn-one, .bbn-two {
  font-size: 13px;
  width: 200px;
  height: 100%;
}

* {
  text-align: center !important;
  align-content: center !important;
  margin-left: auto !important;
  margin-right: auto !important;
}



   .main-nav {
     float:inherit;
     list-style: none;
     margin-top: 1.875em;
   }

   .main-nav li {
     display: flex;
   }



 }




 /*
  * Basis-Layout des Formulars
  */


/**Ebene Header Ende
---------------------------*/



/**Ebene 2 Start
*/

#ebene2 {
      padding: 50px;
            }

.warum-wir {
  color: #211D1C;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  margin-bottom: 50px;
  font-size: 40px;
  font-weight: bold;
  border-style: dashed;
  border-color: #211D1C;
  width: 230px;
}

.element > h3 {
  font-size: 23px;
  text-transform: uppercase;
}

.element > p {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.der-prozess .col-md-6{
    border-style: dashed;
    background-color: #FF8B00;
}

.der-prozess .col-md-5{
    border-style: dashed;
    background-color: #FF8B00;
    margin-bottom: 120px;
}

.icon {
    width: 150px;
    height: 90px;
    margin-bottom: 20px;
}


.icon > img {
  width: auto;
  height: 100%;
}

@media (max-width: 768px) {

.element > p {
  text-align: justify !important;
}

}


/**Ebene 2 Ende
---------------------------*/

/**Ebene 3 Start
*/

#ebene3 {
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/ebene3.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  padding: 50px;
            }


.blocktitelprozess {
   font-family: "Roboto", sans-serif;
   margin-bottom: 50px;
   font-size: 40px;
   font-weight: bold;
   border-style: dashed;
   background-color: #FF8B00;
   width: 230px;
 }

 .number {
   font-size: 126px;
   padding: 0px !important;
   letter-spacing: -20px !important;
 }

 .prozesstitle {
   padding-top: 30px;
   font-size: 36px;
   margin: 0 !important;

 }

 .prozessbeschreibung {
   font-size: 18px;
   margin: 0 !important;
 }

 .prozessicon {
   width: 100%;
 }

 .prozessicon > img {
   height: 150px;
   width: auto;
   display: block;
   margin-left: auto;
   margin-right: auto;
 }

 @media (max-width: 768px) {
.prozesstitle {
  padding-top: 0px !important;
  margin-top: 0px !important;
  text-align: center !important;
  align-self: center !important;
}
.number {
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}
.einziehen {
  text-align: center !important;
  align-content: center !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.einziehenproc {
  text-align: center !important;
  align-content: center !important;
  margin-left: 0% !important;
  margin-right: 0% !important;
  padding-right: 100%;
}

.prozessicon {
  width: 50%;
}

.prozessicon > img {
  height: 75px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


 }



 /**Ebene 3 Ende
---------------------------*/

 /**Ebene 4 Start
 */

 #ebene4 {
   background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/starthouse.jpg);
   background-size: cover;
   background-position: center center;
   border-top-color: white;
   border-top-width: thick;
   border-top-style: solid;
   padding: 50px;

             }

 .blocktitelteam {
   font-family: "Roboto", sans-serif;
   font-size: 40px;
   font-weight: bold;
   border-style: dashed;
   border-color: white;
   color: white;
   width: 230px;
 }


 .profil {
   height: 300px;
   width: auto;
   display: block;
   margin-left: auto;
   margin-right: auto;
   border-radius: 50%;
   border-style: solid;
   border-color: white;
 }

 .teammembers {
   padding-top: 20px;
 }

 .profilname {
   display: block;
   margin-left: auto;
   margin-right: auto;
   color:white;
   font-size: 36px;
   font-size: normal;
   text-align: center;
 }

 .profiltitle {
   display: block;
   margin-left: auto;
   margin-right: auto;
   color:white;
   font-size: 28px;
   font-size: normal;
   text-align: center;
 }

 .profilspezial {
   display: block;
   margin-left: auto;
   margin-right: auto;
   color:white;
   font-size: 22px;
   font-weight: bold;
   font-size: normal;
   text-align: center;
 }

  /**Ebene 4 Ende
  ---------------------------*/

/**Ebene 5 Start
*/
.blocktitelfeedback {
  font-family: "Roboto", sans-serif !important;
  font-size: 40px !important;
  position: absolute !important;
  font-weight: bold;
  border-style: dashed;
  border-color: white;
  color: white;
  width: 230px;
  margin-top: 1em;
  margin-left: 1em;
}

.kundepic {
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/kunde1.jpg);
  background-size: cover;
  background-position: center center;
  height: 500px;
}

.carousel-inner img{
  width: 150px;
  height: 150px;
  border radius:100%;
  border: 3px solid white;
  padding: 5px;
}


.carousel-item {
  height: 500px;
}

.carousel-inner p{
  font-size: 12px;
  font-weight: 300px;
  letter-spacing: 1px;
  margin-top: 30px;
  font-style:italic;
}

.carousel-indicators li {
  background-color: white;
  width: 20px;
  transition: all 0.5s ease-in;


}


.feedbackslide {

  background-size: cover;
  background-position: center center;
  height: 80vh;
  background-color:rgba(238,118,0,0.85);
}


/* Carousel */
#carouselExampleControls {
  border-top-color: white;
  border-top-width: thick;
  border-top-style: solid;

}


.carousel-item > .col-md-4 {
  margin-top: 5%;
}


.kundename {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color:white;
  font-size: 28px;
  font-size: normal;
  text-align: center;
  margin-top: 0 !important;
  margin-bottom: 0 !important;

}

.kundelocation {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color:white;
  font-size: 20px;
  font-size: normal;
  text-align: center;
  margin-top: 0 !important;
  margin-bottom: 12 !important;
}

.kundebeschreibung {
  font-size: 18px;
  margin: 0 !important;
  text-align: center;
  color:white;

}

   /**Ebene 5 Ende
  ---------------------------*/

/**Ebene 7 Start
*/
#ebene7 form {
    max-width: 30em;

    border: 1px solid #d0d0d0;
    background: #f0f0f0;
    padding: 1em;
}

.tilgunsplan {
  color: #211D1C;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  margin-bottom: 50px;
  margin-left: 50px;
  font-size: 40px;
  font-weight: bold;
  border-style: dashed;
  border-color: #211D1C;
  width: 500px;

}


#ebene7 form > *,
#ebene7 form > .side-by-side > * {
    display: block;
    box-sizing: box;
    width: 100%;
}

#ebene7 form > .side-by-side {
    display: flex;
}

#ebene7 form > .side-by-side > * {
    margin-right: 0.25em;
}

#ebene7 form > .side-by-side > *:last-child {
    margin-right: 0;
}

/*
 * Gestaltung der Feldbezeichner
 */
#ebene7 form label {
    font-weight: bold;
    margin-top: 1em;
}

#ebene7 form label:first-child {
    margin-top: 0;
}

#ebene7 form label .required {
    color: darkred;
}

/*
 * Gestaltung der Formularfelder
 */
#ebene7 input,
#ebene7 textarea,
#ebene7 select {
    border: 1px solid #bebebe;
    padding: 0.5em;
    margin: 0;
    outline: none;
}

#ebene7 textarea {
    height: 12em;
}

/*
 * Der Button zum Abschicken des Formulars
 */
#ebene7 input[type="submit"] {
    margin-top: 2em;
    width: auto;

    background-color: #2e2f30;
    color: white;
    font-weight: bold;

    transition: background-color 0.2s;
}

#ebene7 input[type="submit"]:hover {
    background-color: #2868A8;
}

/*
 * Element mit dem Pr체fergebnis
 */
#ebene7 #result {
    margin-top: 1em;
    color: red;
}

#ebene7 #result.okay {
    color: darkgreen;
}

.tilgungbutton {
  width: 100%;
  background-color: #FF8B00;
}
.rechnungrange {
    width: 80% !important;
    margin-top: 5px;
    margin-bottom: 0px !important;
}

.calculator{
  border-style: solid;
  border-color: #FF8B00;
  margin-top: 40px;
}

 /**Ebene 7 Ende
 ---------------------------*/

 /**Ebene 8 Start
  */
   .imobilalcontakt, .belalemail, .belalphone, .belaladress {
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     border-bottom: solid;
         }

    .phonetitle, .emailtitle {
      margin-bottom: 0px !important;
         }

    .mobilenumber, .emailadresse {
      text-decoration: none;
      color: white;
      font-size: 24px;
         }

    .centerBlock {
      display: block;
      margin-left: auto;
      margin-right: auto ;
         }

    .belaladress {
      font-size: 18px;
         }


    .immolog {
      width: 230px;
      height: auto;
      background-image: radial-gradient(circle farthest-side, white,transparent);
      display: inline-block;
         }

    .belaltext {
      font-size: 48px;
         }

   #ebene8 {
    background-color: #FF8B00;
    background-position: center center;
    border-top-color: white;
    border-top-width: thick;
    border-top-style: solid;
    padding: 50px;

               }

    #ebene8 form {
     max-width: 30em;

     border: 1px solid #d0d0d0;
     background: #f0f0f0;
     padding: 1em;
               }

    #ebene8 form > *,
    #ebene8 form > .side-by-side > * {
     display: block;
     box-sizing: border-box;
     width: 100%;
               }

    #ebene8 form > .side-by-side {
      display: flex;
               }

    #ebene8 form > .side-by-side > * {
      margin-right: 0.25em;
               }

    #ebene8 form > .side-by-side > *:last-child {
      margin-right: 0;
               }

     /*
      * Gestaltung der Feldbezeichner
      */
    #ebene8 form label {
      font-weight: bold;
      margin-top: 1em;
               }

    #ebene8 form label:first-child {
      margin-top: 0;
               }

    #ebene8 form label .required {
      color: darkred;
               }

     /*
      * Gestaltung der Formularfelder
      */
    #ebene8 input,
    #ebene8 textarea,
    #ebene8 select {
      border: 1px solid #bebebe;
      padding: 0.5em;
      margin: 0;
      outline: none;
               }

    #ebene8 textarea {
      height: 12em;
               }

     /*
      * Der Button zum Abschicken des Formulars
      */
    #ebene8 input[type="submit"] {
      margin-top: 2em;
      width: auto;

      background-color: #2e2f30;
      color: white;
      font-weight: bold;

      transition: background-color 0.2s;
               }

    #ebene8 input[type="submit"]:hover {
      background-color: #2868A8;
               }

      /*
       * Element mit dem Pr체fergebnis
       */
     #ebene8 #result {
       margin-top: 1em;
       color: red;
               }

     #ebene8 #result.okay {
       color: darkgreen;
               }

    transition: background-color 0.2s;
}

#ebene8 input[type="submit"]:hover {
    background-color: #2868A8;
}

/*
 * Element mit dem Pr체fergebnis
 */
#ebene8 #result {
    margin-top: 1em;
    color: red;
}

#ebene8 #result.okay {
    color: darkgreen;
}
/**Ebene 8 Ende
---------------------------*/
